<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between">
  <mat-card fxFlex="32">
    <mat-card-header>Doctors</mat-card-header>
    <mat-card-content>
      <h2 style="color: red; margin-top: 20px; font-size: 30px;">10</h2>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" fxFlex="100">View Detail</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="32">
    <mat-card-header>Patients</mat-card-header>
    <mat-card-content>
      <h2 style="color: red; margin-top: 20px; font-size: 30px;">5</h2>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" fxFlex="100">View Detail</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="32">
      <mat-card-header>Departments</mat-card-header>
      <mat-card-content>
        <h2 style="color: red; margin-top: 20px; font-size: 30px;">2</h2>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" fxFlex="100">View Detail</button>
      </mat-card-actions>
  </mat-card>
</div>
