<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start">
  <mat-card fxFlex="30" fxLayout="row wrap" fxFlex.xs="100" fxFlex.sm="45" [ngStyle.xs]="{'margin-bottom': '35px'}">
    <img fxFlex="100" 
        fxFlex.xs="40"
        [src]="patientInfo.picture ? patientInfo.picture : 'assets/images/avatar.jpg'" 
        alt="image"
        height="200"
        style="margin-bottom: 10px;">
 
    <mat-card-content fxFlex="100" fxLayout="column" fxLayoutGap="20px">
      <span fxFlex="100" style="font-weight: 500; font-size: 1.25rem;">{{patientInfo.name}}</span>
      <span fxFlex="100" *ngIf="patientInfo.age">{{patientInfo.age}} Years</span>
      <span fxFlex="100">{{patientInfo.mob_number}}</span>
    </mat-card-content>
  </mat-card>

  <div fxFlex="65" fxFlex.xs="100" fxFlex.sm="50">
    
    <form [formGroup]="theForm" (ngSubmit)="makeAppointment()" fxFlex="75" fxFlex.xs="100" fxLayout="row wrap" fxLayoutAlign="center">
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Select Department" formControlName="department">
          <mat-option *ngFor="let dept of departments" [value]="dept?.name">
            {{dept?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Select Doctor" formControlName="doctor">
          <mat-option *ngFor="let doctor of doctors" [value]="doctor?.name">
            {{doctor?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field fxFlex="100">
        <input matInput 
              [min]="today_date" 
              [matDatepicker]="appointment_date_picker" 
              formControlName="date_of_appointment" 
              placeholder="Choose Appointment date"
              (dateChange)="onDateSelected($event)">
        <mat-datepicker-toggle  matSuffix [for]="appointment_date_picker"></mat-datepicker-toggle>
        <mat-datepicker #appointment_date_picker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Select Treatment Type" formControlName="treatment_types">
          <mat-option *ngFor="let type of treatment_type" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <div fxFlex="100" fxLayout="row wrap">
        <button type="submit" mat-raised-button color="primary" [disabled]="!theForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>