<form [formGroup]="theForm" (ngSubmit)="onSubmit()" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxFlex="50" fxFlex.sm="100" fxFlex.md="100" fxFlex.xs="100">
        <h1 fxFlex="100">Patient Sign Up</h1>
        <mat-form-field fxFlex="100">
            <input matInput formControlName="name" type="text" placeholder="Username">
            <mat-error *ngIf="name.hasError('required')">user name is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <input matInput formControlName="email" type="email" placeholder="email">
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <input matInput formControlName="password" type="password" placeholder="password">
            <mat-error *ngIf="password.hasError('required')">password is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <input matInput formControlName="mob_number" type="text" placeholder="mobile number">
            <mat-hint>format:03439295108 (without dash)</mat-hint>
            <mat-error *ngIf="mob_number.hasError('required')">
                mobile number is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="mob_number.hasError('minlength') || mob_number.hasError('maxlength')">
                mobile number must be 11 digits
            </mat-error>

        </mat-form-field>

        <mat-form-field fxFlex="100">
            <input matInput formControlName="age" type="number" placeholder="Age">
            <mat-error *ngIf="age.hasError('min')">age should be greater than 0.</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <textarea matInput formControlName="address" placeholder="Address"></textarea>
        </mat-form-field>

        <!-- <mat-form-field>
            <input placeholder="Upload image" formControlName="image" type="file">
        </mat-form-field> -->

        <div fxFlex fxLayout="row" fxLayoutAlign="space-between start" style="margin-top: 10px">
            <button type="submit" mat-raised-button color="primary" [disabled]="!theForm.valid || theForm.pristine">Save</button>
            <button *ngIf="patient_id" type="button" mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>
