<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start" style="height: calc(100vh - 90px);">
  <div fxFlex="20" class="admin-side-bar">
    <mat-card style="padding: 0; height: 100%;">
      <mat-list role="list" class="list">
        <mat-list-item [class.selected]="m === selectedMenu" class="item" 
                        *ngFor="let m of menu" role="listitem" (click)="selectedMenuChanged(m)">{{ m }}
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <div fxFlex="78" fxLayout="row wrap">

    <ng-container *ngIf="selectedMenu === 'Dashboard'">
      <dashboard fxFlex="100"></dashboard>
    </ng-container>

    <ng-container *ngIf="selectedMenu === 'Patients'">
      <app-patient-list fxFlex="100"></app-patient-list>
    </ng-container>

    <ng-container *ngIf="selectedMenu === 'Doctors'">
      <app-doctors-list fxFlex="100"></app-doctors-list>
    </ng-container>

    <ng-container *ngIf="selectedMenu === 'Departments'">
      <app-dept-list fxFlex="100"></app-dept-list>
    </ng-container>
  </div>
</div>