<app-layout perfectScrollbar [ngStyle]="{'height': '100%', 'position': 'relative'}">
  <mat-sidenav-container class="all-wrap">
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>
</app-layout>


<!-- <div fxFlex="100" fxFill fxLayout="row wrap" fxLayoutAlign="start stretch" style="height: 100%;">
  <div fxFlex="100" >
    <app-header></app-header>
  </div>

  <div fxFlex="100" fxFill>
    <router-outlet></router-outlet>
  </div>

  <div fxFlex="100">
    <app-footer></app-footer>
  </div>
</div> -->