<mat-toolbar color="primary">
  <div>
      <button fxHide fxShow.xs="true" mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
 
  <div style="margin-right: 15px;">
    <a routerLink="/home">HotDoc</a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/doctors">Doctors</a>
            </li>
            <li>
                <a routerLink="/departments">Departments</a>
            </li>
            <li>
                <a routerLink="/appointments">Appointments</a>
            </li>
        </ul>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    User<mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="login-main-page">
                        <mat-icon>supervisor_account</mat-icon>
                        <span>Sign in</span>
                    </button>
                    <button mat-menu-item routerLink="sign-up">
                        <mat-icon>how_to_reg</mat-icon>
                        <span>Sign Up</span>
                    </button>
                   
                </mat-menu>
            </li>
        </ul>
  </div>
</mat-toolbar>