<mat-toolbar color="primary">
  <div>
      <button fxHide fxShow.xs="true" mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
 
  <div style="margin-right: 15px;">
    <a routerLink="/home">HotDoc</a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/doctors">Doctors</a>
            </li>
            <li>
                <a routerLink="/departments">Departments</a>
            </li>
            <li>
                <a routerLink="/appointments">Appointments</a>
            </li>
        </ul>
  </div>

  <div *ngIf="!loggedInUserName" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    User<mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="login-main-page">
                        <mat-icon>supervisor_account</mat-icon>
                        <span>Sign in</span>
                    </button>
                    <button mat-menu-item routerLink="sign-up">
                        <mat-icon>how_to_reg</mat-icon>
                        <span>Sign Up</span>
                    </button>
                   
                </mat-menu>
            </li>
        </ul>
  </div>

  <div *ngIf="loggedInUserName" [matMenuTriggerFor]="loggedInUserMenu" 
        fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center"
        style="cursor: pointer;">

        <img src="/assets/images/avatar.jpg" class="round-image" alt="user">
        <span>{{ loggedInUserName | titlecase  }}</span>

        <mat-menu align="end" #loggedInUserMenu="matMenu">
            <button mat-menu-item routerLink="login-main-page">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>input</mat-icon>
                <span>Log out</span>
            </button>
       
        </mat-menu>
   </div>

   

</mat-toolbar>